<h4>This will show real-time live events coming in from backend server on a websocket:</h4>

<button class="btn btn-primary btn-xs" ng-click="connectToBackend()">Connect to Backend</button>
<button class="btn btn-primary btn-xs" ng-click="disconnectFromBackend()">Disconnect to Backend</button>

<div id="carouselButtons">
  <button id="playButton" type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-play"></span>
  </button>
  <button id="pauseButton" type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-pause"></span>
  </button>
</div>

<div class="main">
  <div ng-repeat="stuff in stuffs | limitTo:-5">
    <p>{{stuff.data}} : {{stuff.count}}, coords: [{{stuff.coords}}]</p>
  </div>
</div>
<div class="footer">
  <p>
    <span class="glyphicon glyphicon-heart"></span>from the Yeoman team</p>
</div>
