<p>Experimentation with websockets for real-time event updates on a map.</p>

Some custom button for experimentation:
<br />
<button class="btn btn-primary btn-xs" ng-click="map.zoom = map.zoom + 1" ng-init="map.zoom=12">
  Increment Zoom
</button>
<button class="btn btn-primary btn-xs" ng-click="map.zoom = map.zoom - 1">
  Decrement Zoom
</button>
map.zoom: {{map.zoom}}
<br />
<p />
<google-map center='map.center' zoom='map.zoom' draggable={{map.draggable}} refresh='map.refresh'>
  <!-- <div ng-repeat="marker in markers"> -->
    <!-- <marker coords='marker'></marker> -->
            <markers models="markers" coords="'self'" doCluster="false"></markers>
  <!-- </div> -->
</google-map>

<br />
Emulate some markers:
<br />
<button class="btn btn-primary btn-xs" ng-click="addMarker()">Add Locally Created Marker (for testing)</button>
<button class="btn btn-primary btn-xs" ng-click="removeMarker()">Remove Last Marker (for testing)</button>
<br />
The Heroku-based backend server will emit a new event over a websocket every second:
<br />
<button class="btn btn-primary btn-xs" ng-click="connectToBackend()">Connect to Backend</button>
<button class="btn btn-primary btn-xs" ng-click="disconnectFromBackend()">Disconnect from Backend</button>

<br />Current markers:
<!-- <div ng-repeat="marker in markers | limitTo:-3" >{{ marker}}</div> -->
<div ng-repeat="marker in markers">{{ marker}}</div>
