<p>This is a map of Jersey City implemented as an Angular directive</p>


<!-- map.draggable: {{map.draggable}} -->
<!-- <input type="checkbox" ng-model="map.draggable" ng-init=true>Draggable</input> -->

<br />Some custom button for experimentation:
<br />
<button class="btn btn-primary btn-xs" ng-click="map.zoom = map.zoom + 1" ng-init="map.zoom=12">
  Increment Zoom
</button>
<button class="btn btn-primary btn-xs" ng-click="map.zoom = map.zoom - 1">
  Decrement Zoom
</button>
map.zoom: {{map.zoom}}

<!-- <br />{{map.refresh}} -->


<google-map center='map.center' zoom='map.zoom' draggable={{map.draggable}} refresh='map.refresh'>
  <!-- <layer type='TrafficLayer'></layer> -->

  <div ng-repeat="marker in markers">{{ marker}}
    <marker coords='marker'>
    </marker>
  </div>

</google-map>

The backend server emits a new event over a websocket every second:
<br />
<button class="btn btn-primary btn-xs" ng-click="connectToBackend()">Connect to Backend</button>
<button class="btn btn-primary btn-xs" ng-click="disconnectFromBackend()">Disconnect to Backend</button>

<br />
<button class="btn btn-primary btn-xs" ng-click="addMarker()">Add Locally Created Marker (for testing)</button>
<button class="btn btn-primary btn-xs" ng-click="removeMarker()">Remove Last Marker (for testing)</button>

<br />Current markers:
<!-- <div ng-repeat="marker in markers | limitTo:-3" >{{ marker}}</div> -->
<div ng-repeat="marker in markers">{{ marker}}</div>
