<p>This is a map of Jersey City implemented as an Angular directive</p>
<!-- <google-map center="map.center" zoom="map.zoom" draggable="map.draggable"> -->
map.dragable: {{map.draggable}}
<google-map center="map.center" zoom="map.zoom" draggable=map.draggable>

<layer type='TrafficLayer'></layer>

<marker coords='{latitude: 40.728007,longitude: -74.076401}'>
<marker coords='{latitude: 40.739107,longitude: -74.077401}'>
<marker coords='{latitude: 40.734207,longitude: -74.078401}'>
<marker coords='{latitude: 40.725007,longitude: -74.079401}'>
</marker>

</google-map>
